.panzer-wrapper {
    position: relative;
    height: 10rem;
    /*TODO: delete*/
    background-color: darkgray;
}

.panzer {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: patrol 3s linear infinite;
}

@keyframes patrol {
    0% {
        left: 0;
    }
    49%{transform: rotate(0deg)}
    50% {
        left: 100%;
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(180deg);
        left: 0;
    }
}